<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	


<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" style="vertical-align:top" src="/images/KM.jpg" alt="km" width="90" height="90"/></th>
		<th><font size=4><BR>PUSAT LATIHAN DAN AKADEMI MARITIM MALAYSIA <BR>(PLAMM) </font><BR><BR>LAPORAN PENILAIAN DIRI UNTUK JURULATIH   </H4> </th>
			<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="90" height="90"/></th>
	</tr>
</table>
<BR>
<table width=100% border=1px cellspacing=0 cellpadding =5 align="center" >

		<tr >
			<th width=2%  style="vertical-align:middle" font face="Arial">BIL</th>
			<th width=30% style="vertical-align:middle">NAMA JURULATIH</th>
			<!--<th width=25% style="vertical-align:middle">NAMA MODUL</th>-->
			<th width=15% style="vertical-align:middle">TARIKH PENILAIAN</th>
			<th width=10% style="vertical-align:middle">MARKAH</th>
			<th width=10% style="vertical-align:middle">STATUS</th>
	  </tr>
	
	

	<%#  @instructor_appraisal_programmes.each do |programme_details, instructor_appraisals| %>
	<!--
	<tr>
	      <td colspan=12><b><%#= programme_details %></b></td>
	</tr>-->
	
	 <% bil = 0 %>
	 <%# for instructor_appraisal in instructor_appraisals %>
	 <% for instructor_appraisal in @instructor_appraisals %>	
	 <% bil += 1 %>
				
    <tr>
		<td align="center"><%=h bil %></td>	
		<td ><%= instructor_appraisal.staff_id.blank? ? "No Staff" : instructor_appraisal.instructor_name.staff_name_with_title %></td>	
		<!--<td align="center"><%#= instructor_appraisal.subject_id.blank? ? "No Subject" : instructor_appraisal.subject.name %></td>-->
		<td align="center" ><%= instructor_appraisal.appraisaldate.strftime("%d-%b-%Y") %></td>
		<td align="center"> <%= instructor_appraisal.total_mark %></td>
		<td align="center"><%=h instructor_appraisal.level %></td>
	
	</tr>

<% end %><%# end %>
</table>

</div>

<BR>



<div id="hideLink">
<%= link_to 'BACK', instructors_path %>
</div>

