<div class="tform">
	<%= render :partial => 'show_report_details' %>
<% if @sdicipline.warden_id == User.current_user.staff_id %>
<H2>Action By Principal </H2>
	<table width=100% border=0>
		<tr>
			<td width=23% colspan=2><label for="action"><font size=2>Action Taken:</font></label></td>
			<td width=3%><b>:</b></td>
			<td> <%=h @sdicipline.principal_takeaction %></td>
		</tr>

		<tr>
			<td class="leftcol" colspan=2><label for="closedtcollege">Investigation Summary:</label></td>
			<td><b>:</b></td>
			<td> <%=h @sdicipline.principal_investigation %></td>
		</tr>
 	<% if @sdicipline.mentor_id!="" %>
		<tr>
			<td class="leftcol" colspan=2><label for="otherinfo">Forward to Mentor:</label></td>
			<td><b>:</b></td>
			<td><%=h @sdicipline.mentor_id.blank? ? "-" : @sdicipline.mentorname.mentor_mentee %></td>
		</tr>
    <% end %>	
	<% if @sdicipline.caunsellor_id!="" %>
		<tr>
			<td class="leftcol" colspan=2><label for="otherinfo">Forward to Counsellor:</label></td>
			<td><b>:</b></td>
			<td><%=h @sdicipline.caunsellor_id.blank? ? "-" : @sdicipline.counsellor_details %></td>
		</tr>
			<% end %>	
	</table>
<% end %>
	<% if (@sdicipline.status == "Mentor" && @sdicipline.mentor_id != "") || (@sdicipline.status == "Refer to Counsellor" && @sdicipline.caunsellor_id != "") || (@sdicipline.status == "Refer to Komandan" && @sdicipline.commandant_id != "") || @sdicipline.status =="Closed" %>
	
	<%= render :partial => 'show_mentorcounsellor_details' %>

	<% end %>

  <% if @sdicipline.jtkpdecision != nil %>
	<H2>Refer to Komandan</H2>
	<table width=100%>
			<!--<tr>
				<td class="leftcol"><label for="bplsenddt">Date Sent To Commandant</label></td>
				<td><b>:</b></td>
				<td><#%=h @sdicipline.commandantdt.blank? ? "-" : @sdicipline.commandantdt.strftime("%d-%b-%Y") %></td>
			</tr>-->

		<!--	<tr>
				<td class="leftcol"><label for="jtkpdt">Date JTKP</label></td>
				<td><b>:</b></td>
				<td> <#%=h @sdicipline.jtkpdt %></td>
			</tr>-->

			<tr>
				<td width=23% colspan=2><label for="jtkpdecision">Commandant Decision</label></td>
				<td width=3%><b>:</b></td>
				<td><%=h @sdicipline.jtkpdecision %></td>
			</tr>
			
			<tr>
				<td class="leftcol" colspan=2><label for="jtkpdescisionrxdt">Date Commandant Decision</label></td>
				<td><b>:</b></td>
				<td><%=h @sdicipline.jtkpdescisionrxdt.blank? ? "-" : @sdicipline.jtkpdescisionrxdt.strftime("%d-%b-%Y") %></td>
			</tr>
			
			<tr>
				<td class="leftcol" colspan=2><label for="appealdt">Appeal Date</label></td>
				<td><b>:</b></td>
				<td><%=h @sdicipline.appealdt %></td>
			</tr>
			
			<tr>
				<td class="leftcol" colspan=2><label for="appealdecision">Appeal Decision</label></td>
				<td><b>:</b></td>
				<td> <%=h @sdicipline.appealdecision %></td>
			</tr>
			
			<tr>
				<td class="leftcol" colspan=2><label for="appealdecisionrxdt">Appeal Decision Date</label></td>
				<td><b>:</b></td>
				<td><%=h @sdicipline.appealdecisionrxdt %></td>
			</tr>
			

</table>
<%end%>
<table width=100% border=0>	
	<tr>
		<td width=23% colspan=2><label for="status"><font size=2>Status Report</font></label></td>
		<td width=3%><b>:</b></td>
		<td><%=h (Sdicipline::STATUS.find_all{|disp, value| value == @sdicipline.status}).map {|disp, value| disp} %>
			<% if @sdicipline.status == "Refer to Komandan" %> - <%=h Position.find(@sdicipline.commandant_id).staff.staff_name_with_title %><% end %></td>
	</tr>
	
	<tr>
		<td class="leftcol" colspan=2><label for="closedtcollege">Case Closed</label></td>
		<td><b>:</b></td>
		<td><%=h @sdicipline.closedtcollege.blank? ? "-" : @sdicipline.closedtcollege.strftime("%d-%b-%Y")  %></td>
	</tr>
</table>
</div>
<% @mentees_ids=[]%><!--compulsory for other than mentors-->
<% if User.current_user.staff.mentors.count>0 %>
	<% @mentees_ids = User.current_user.staff.mentors[0].mentees.map(&:id)%>
<% end %>

<BR><% if ((@sdicipline.status == "Refer to Mentor" && @sdicipline.mentor_id != "" && @mentees_ids.include?(@sdicipline.mentor_id)) || (@sdicipline.status == "Refer to Counsellor" && @sdicipline.caunsellor_id != "" && @sdicipline.caunsellor_id == current_user.staff.position.id) || (@sdicipline.status == "Refer to Komandan" && @sdicipline.commandant_id == current_user.staff.position.id)) || ((@sdicipline.status == "New" && @sdicipline.warden_id.blank? && @sdicipline.reportedby_id==current_user.staff_id)|| ((@sdicipline.status == "New" || @sdicipline.status == "Open") && @sdicipline.warden_id == current_user.staff_id)) %> 	
<%= link_to 'Edit', edit_sdicipline_path(@sdicipline) %> | <% end %>
<%= link_to 'Back', sdiciplines_path %>